@model IEnumerable<eRecruitment.BusinessDomain.DAL.Entities.AppModels.VacancyModels>

@using System.Data.Linq
@{

    eRecruitment.Sita.BackEnd.App_Data.Entities.DAL.eRecruitmentDataClassesDataContext _db =
        new eRecruitment.Sita.BackEnd.App_Data.Entities.DAL.eRecruitmentDataClassesDataContext();
}
<!-- Content Wrapper. Contains page content -->

<div class="hide hidden listOfSkills">

    @foreach (var item in ViewBag.SkillsList)
    {
        <input type="text" value="@item.skillID" class="hidden" />
    }
    @*<input type="text"  name="" value="@ViewBag.SitaDepartment" />*@
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Vacancy
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Human Resource Center</a></li>
            <li><a href="~/Vacancy/VacancyList">Manage Vacancy</a></li>
            <li class="active">Re-Advertise Vacancy</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Re-Advertise Vacancy</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" disabled data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("ReAdvertiseVacancy", "Vacancy", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Organisation Name:</label>
                                            @if (ViewBag.Organisation != null)
                                            {
                                                foreach (var d in ViewBag.Organisation)
                                                {
                                                    <div class="form-control" readonly>
                                                        <label>
                                                            <input type="text"
                                                                   name="Organisation"
                                                                   hidden value="@d.OrganisationID" /> @d.OrganisationName
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>BPS Vacancy Number:<span class="required" style="color:red;"> * </span></label>
                                            @Html.TextAreaFor(Model => @item.BPSVacancyNo, new { @class = "form-control", placeholder = "XXX99999,XXX88888", tabindex = 10 })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Division:<span class="required" style="color:red;"> * </span></label>
                                            @Html.Hidden("myDepartment", Url.Action("GetDepartmentList"))
                                            @Html.DropDownListFor(Model => @item.DivisionID, new SelectList(ViewBag.Division, "DivisionID", "DivisionDiscription", @item.DivisionID), "--Select Division --", new { id = "DivisionID", @class = "form-control", required = "Required", tabindex = 1, onChange = "GetDepartmentForEdit()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Department:<span class="required" style="color:red;"> * </span></label>
                                            @Html.Hidden("myApprover", Url.Action("GetApproverByDepartmentList"))
                                            @Html.DropDownListFor(Model => @item.DepartmentID, new SelectList(ViewBag.SitaDepartment, "DepartmentID", "DepartmentName", @item.DepartmentID), "--Select Department --", new { id = "DepartmentID", @class = "form-control", required = "Required", tabindex = 1, onChange = "GetApproverForEdit()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Job Title:<span class="required" style="color:red;"> * </span></label>
                                            @Html.DropDownListFor(Model => @item.JobTitleID, new SelectList(ViewBag.JobTitle, "JobTitleID", "JobTitle", @item.JobTitleID), "--Select Vacancy Name--", new { id = "JobTitleID", @class = "form-control select2", required = "Required", tabindex = 1, onChange = "GetJobProfileForEdit()" })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Salary Type:<span class="required" style="color:red;"> * </span></label>
                                            @Html.DropDownListFor(Model => @item.SalaryTypeID, new SelectList(ViewBag.SalaryType, "SalaryTypeID", "SalaryTypeDescr", @item.SalaryTypeID), "--Select Salary Type--", new { @id = "SalaryTypeID", @class = "form-control", required = "Required", tabindex = 1, onChange = "GetSalary()" })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Salary Category:</label>
                                            @Html.TextBoxFor(Model => @item.CategoryDescr, new { @id = "SalaryCategory", @class = "form-control", disabled = "disabled", placeholder = "Salary Category", tabindex = 2 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Salary Sub-Category:</label>
                                            @Html.TextBoxFor(Model => @item.Descr, new { @id = "SalarySubCategory", @class = "form-control", placeholder = "Salary Sub-Category", disabled = "disabled", tabindex = 2 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Job Level:</label>
                                            @Html.HiddenFor(Model => @item.JobLevelID, new { @id = "JobLevelID" })
                                            @Html.TextBoxFor(Model => @item.JobLevelName, new { @id = "JobLevelName", @class = "form-control", placeholder = "Job Level", disabled = "disabled", tabindex = 2 })
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="Min">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label> Minimum Salary:</label>
                                                @Html.TextBoxFor(Model => @item.MinValue, new { @id = "MinValue", @class = "form-control", placeholder = " Minimum Value", disabled = "disabled", tabindex = 2 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="Max">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label> Maximum Salary:</label>
                                                @Html.TextBoxFor(Model => @item.MaxValue, new { @id = "MaxValue", @class = "form-control", placeholder = "  Maximum Value", disabled = "disabled", tabindex = 2 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Recruiter Admin:</label>
                                                @Html.TextBoxFor(Model => @item.Recruiter, new { @id = "Recruiter", @class = "form-control", placeholder = "Recruiter", @readonly = "readonly", tabindex = 2 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Recruiter Admin's Email Address:</label>
                                                @Html.TextBoxFor(Model => @item.RecruiterEmail, new { @id = "RecruiterEmail", @class = "form-control", placeholder = "Recruiter's Email", @readonly = "readonly", tabindex = 2 })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Recruiter's Telephone Number:<span class="required" style="color:red;"> * </span></label>
                                                @Html.TextBoxFor(Model => @item.RecruiterTel, new { @maxLength = "10", @class = "form-control", placeholder = "Recruiter's Telephone Number", required = "Required", tabindex = 6, onkeypress = "return isNumberKey(event)" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Vacancy Recruiter:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.RecruiterUserId, new SelectList(ViewBag.RecruiterList, "RecruiterUserId", "Fullname", @item.RecruiterUserId), "--Select Recruiter --", new { @id = "RecruiterUserId", @class = "form-control", required = "Required", tabindex = 1 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Vacancy Approver:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.Manager, new SelectList(ViewBag.ApproverList, "ApproverUserId", "Fullname", @item.Manager), "--Select Approver --", new { @id = "ApproverUserId", @class = "form-control", required = "Required", tabindex = 1 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Preferred Gender:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.GenderID, new SelectList(ViewBag.Gender, "GenderID", "Gender", @item.GenderID), "--Select Gender--", new { @class = "form-control", required = "Required", tabindex = 9 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Preferred Race:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.RaceID, new SelectList(ViewBag.Race, "RaceID", "RaceName", @item.RaceID), "--Select Race--", new { @class = "form-control", required = "Required", tabindex = 9 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Employment Type:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.EmploymentTypeID, new SelectList(ViewBag.EmploymentType, "EmploymentTypeID", "EmploymentType", @item.EmploymentTypeID), "--Select Employment Type--", new { @class = "form-control", onchange = "CheckEmployment()", id = "EmploymentTypeID", required = "Required", tabindex = 9 })
                                            </div>
                                        </div>
                                    </div>

                                    @if (@item.EmploymentTypeID != 2)
                                    {
                                        <div class="col-md-6" id="ContractDuration">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Contract Duration:</label>
                                                    @Html.TextBoxFor(Model => @item.ContractDuration, new { id = "ContractDuration", @class = "form-control", placeholder = "Contract Duration", tabindex = 10 })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Closing Date:<span class="required" style="color:red;"> * </span></label>
                                                <div class="input-group datepicker">
                                                    @Html.TextBoxFor(Model => @item.ClosingDate, new { @id = "ClosingDate", @class = "form-control", required = "Required", tabindex = 12, onchange = "datediff()" })<label class="input-group-btn" for="ClosingDate">
                                                        <span class="btn btn-default">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Number Of Openings:<span class="required" style="color:red;"> * </span></label>
                                                @Html.TextBoxFor(Model => @item.NumberOfOpenings, new { @class = "form-control", placeholder = "Number Of Openings", required = "Required", onkeypress = "return isNumberKey(event)", tabindex = 13 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Vacancy Type:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.VancyTypeID, new SelectList(ViewBag.VacancyType, "VancyTypeID", "VacancyTypeName", @item.VancyTypeID), "--Select Vacancy Type--", new { @id = "VancyTypeID", @class = "form-control", required = "Required", tabindex = 9, onchange = "CheckVacancyType()" })
                                            </div>
                                        </div>
                                    </div>

                                    @if (@item.EmploymentTypeID != 2)
                                    {
                                        <div class="col-md-6" id="DeligationReasons">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Deviation Reasons:</label>
                                                    @Html.TextBoxFor(Model => @item.DeligationReasons, new { @class = "form-control", placeholder = "Deviation Reasons", tabindex = 13 })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Location:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.Location, new SelectList(ViewBag.Location, "LocationID", "LocationDiscription", @item.Location), "--Select Location --", new { @class = "form-control", required = "Required", tabindex = 1 })
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <div class="col-md-12">
                                                <label>Skill Category:<span class="required" style="color:red;"> * </span></label>
                                                @Html.DropDownListFor(Model => @item.CategoryID, new SelectList(ViewBag.SkillsCategoryList, "CategoryID", "Description", @item.CategoryID), "--Select Skill Category --", new { id = "CategoryID", @class = "form-control", required = "Required", tabindex = 1, onChange = "GetSkillPerCatergoryForEdit()" })
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="box box-warning">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Skills<span class="required" style="color:red;"> * </span></h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body" id="Skill">

                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Purpose of the Job:</label>
                                            @*@Html.TextAreaFor(Model => @item.VacancyPurpose, new { @id = "VacancyPurpose", @class = "form-control", @rows = "3", placeholder = "Purpose of the Job", disabled = "disabled", tabindex = 15 })*@
                                            @Html.TextAreaFor(Model => @item.VacancyPurpose, new { @id = "VacancyPurpose", @class = "form-control", @rows = "3", placeholder = "Purpose of the Job", tabindex = 15 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Key Responsibilities:</label>
                                            @Html.TextAreaFor(Model => @item.Responsibility, new { @id = "Responsibility", @class = "form-control", @rows = "3", placeholder = "Responsibilities of the Job", tabindex = 16 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Qualifications and Experience:</label>
                                            @Html.TextAreaFor(Model => @item.QualificationAndExperience, new { @id = "QualificationAndExperience", @class = "form-control", @rows = "3", placeholder = "Qualifications and Experience required for the Job", tabindex = 17 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Knowledge:</label>
                                            @Html.TextAreaFor(Model => @item.Knowledge, new { @id = "Knowledge", @class = "form-control", @rows = "3", placeholder = "Knowledge", tabindex = 17 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Technical Competencies:</label>
                                            @Html.TextAreaFor(Model => @item.TechComps, new { @id = "TechComps", @class = "form-control", @rows = "3", placeholder = "Technical Competency Descriptions", tabindex = 17 })
                                        </div>
                                    </div>

                                    @if (@item.JobLevelID >= 17)
                                    {
                                        <div class="form-group" id="Leadership">
                                            <div class="col-md-12">
                                                <label>Leadership Competencies:</label>
                                                @Html.TextAreaFor(Model => @item.LeadComps, new { @id = "LeadComps", @class = "form-control", @rows = "3", placeholder = "Leadership Competency Descriptions", tabindex = 17 })
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Interpersonal / Behavioural Competencies:</label>
                                            @Html.TextAreaFor(Model => @item.BehaveComps, new { @id = "BehaveComps", @class = "form-control", @rows = "3", placeholder = "Behavioural Competency Descriptions", tabindex = 17 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Additional Requirements:</label>
                                            @Html.TextAreaFor(Model => @item.AdditonalRequirements, new { @id = "AdditonalRequirements", @class = "form-control", @rows = "3", placeholder = "Additional Requirements for the Job", tabindex = 19 })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Disclaimer:</label>
                                            @Html.TextAreaFor(Model => @item.Disclaimer, new { @id = "Disclaimer", @class = "form-control", @rows = "3", placeholder = "Disclaimer", @readonly = "readonly", tabindex = 20 })
                                        </div>
                                    </div>

                                    @*<div class="col-md-12">
                                            <label>Attach Business Case:</label>
                                            <input type="file" class="form-control-file" accept="image/gif, image/jpeg, application/pdf" name="postedBusinessCase" id="postedFile" />
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <div class="col-md-12">
                                            <label>Attach Requisition:</label>
                                            <input type="file" class="form-control-file" accept="image/gif, image/jpeg, application/pdf" name="postedFile" id="postedFile" />
                                        </div>*@

                                    <label>Attach File:<span class="required" style="color:red;"> * </span></label>
                                    <div class="form-group" id="uploadtemplate">

                                        <div class="col-md-3">

                                            @*<input type="file" class="form-control-file" accept="image/gif, image/jpeg, application/pdf" name="postedFile" id="postedFile" required="Required" />*@
                                            @*<label for="file1">Requisition:<span class="required" style="color:red;"> * </span></label>*@
                                            <input type="file" name="files" id="file1" class="form-control-file" accept="image/gif, image/jpeg, application/pdf" required="Required" />
                                        </div>
                                        <div class="col-md-2">

                                            <a href="#" id="remove" class="ace-icon glyphicon glyphicon-remove" style="color:red;"></a>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="clearfix"></div><br />
                                    <a href="#" id="addFile" class="btn btn-success"> Add More</a>

                                    <script>

                                        $(document).ready(function () {
                                            //debugger;
                                            //$('#addFile').data('uploadtemplate', $('#uploadtemplate').attr('id', '').clone());

                                            //$('#addFile').click(function (e) {
                                            //    $(this).data('uploadtemplate').clone().insertBefore($(this));

                                            //    e.preventDefault();
                                            //});

                                            $("#remove").click(function (e) {
                                                $(this).closest("#uploadtemplate").remove();
                                                e.preventDefault();
                                            });

                                            $("#addFile").click(function (e) {
                                                $("#uploadtemplate:last").clone(true).insertBefore(this);
                                                e.preventDefault();
                                            });
                                        });
                                    </script>

                                    <br />
                                    <br /><div class="clearfix"></div><br />

                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Supporting Documents</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <!-- form start -->
                                            <form role="form">
                                                <div class="box-body">
                                                    @{
                                                        int vacancyid = @item.ID;
                                                        var doc = _db.tblVacancyDocuments.Where(x => x.fkVacancyID == vacancyid).ToList();
                                                        <table id="example1" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-md-11">Document Name</th>
                                                                    <th class="col-md-1">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var d in doc)
                                                                {
                                                                    <tr>
                                                                        <td>@d.sFileName</td>
                                                                        <td>
                                                                            <div class="hidden-sm hidden-xs btn-group">
                                                                                <a class="btn btn-xs btn-success btn-xs" href='@Url.Action("DownLoadFile", "Vacancy", new { id = @d.id})' data-toggle="tooltip" data-placement="left" title="Download file">
                                                                                    <i class="ace-icon fa fa-download bigger-120"> Download</i>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="hidden-sm hidden-xs btn-group">
                                                                                <a class="btn btn-xs btn-danger btn-xs" href='@Url.Action("DeleteFile", "Vacancy", new { id = @d.id, @VacancyId = vacancyid})' data-toggle="tooltip" data-placement="left" title="Delete file">
                                                                                    <i class="ace-icon fa fa-trash-o bigger-120 bg-red"> Delete</i>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    }

                                                </div>
                                                <!-- /.box-body -->

                                            </form>
                                        </div>


                                    </div>

                                    <div class="clearfix"></div><br />

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="box box-warning">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Qualification<span class="required" style="color:red;"> * </span></h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        @{
                                                            int vid = @item.ID;
                                                            var data = _db.tblVacancyQuestions.Where(p => p.VacancyID == vid).Select(x => x.QuestionID).ToList();

                                                        }

                                                        @if (ViewBag.QuetionBanks != null)
                                                        {
                                                            foreach (var d in ViewBag.QuetionBanks)
                                                            {
                                                                <div class="checkbox">
                                                                    <label>
                                                                        @if (data.Contains(@d.QuestionID))
                                                                        {
                                                                            <input type="checkbox"
                                                                                   name="VacancyQuestionID" checked
                                                                                   value="@d.QuestionID" /> @d.QuestionDesc
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox"
                                                                                       name="VacancyQuestionID"
                                                                                       value="@d.QuestionID" /> @d.QuestionDesc
                                                                                }

                                                                    </label>
                                                                </div>

                                                            }

                                                        }

                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="box box-warning">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Experience<span class="required" style="color:red;"> * </span></h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        @{
                                                            int vidE = @item.ID;
                                                            var dataE = _db.tblVacancyQuestions.Where(p => p.VacancyID == vidE).Select(x => x.QuestionID).ToList();

                                                        }

                                                        @if (ViewBag.QuetionExperienceCat != null)
                                                        {
                                                            foreach (var d in ViewBag.QuetionExperienceCat)
                                                            {
                                                                <div class="checkbox">
                                                                    <label>
                                                                        @if (dataE.Contains(@d.QuestionID))
                                                                        {
                                                                            <input type="checkbox"
                                                                                   name="VacancyQuestionID" checked
                                                                                   value="@d.QuestionID" /> @d.QuestionDesc
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox"
                                                                                       name="VacancyQuestionID"
                                                                                       value="@d.QuestionID" /> @d.QuestionDesc
                                                                                }

                                                                    </label>
                                                                </div>

                                                            }

                                                        }

                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Certification<span class="required" style="color:red;"> * </span></h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        @{
                                                            int vidC = @item.ID;
                                                            var dataC = _db.tblVacancyQuestions.Where(p => p.VacancyID == vidC).Select(x => x.QuestionID).ToList();

                                                        }

                                                        @if (ViewBag.QuetionCertificationCat != null)
                                                        {
                                                            foreach (var d in ViewBag.QuetionCertificationCat)
                                                            {
                                                                <div class="checkbox">
                                                                    <label>
                                                                        @if (dataC.Contains(@d.QuestionID))
                                                                        {
                                                                            <input type="checkbox"
                                                                                   name="VacancyQuestionID" checked
                                                                                   value="@d.QuestionID" /> @d.QuestionDesc
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox"
                                                                                       name="VacancyQuestionID"
                                                                                       value="@d.QuestionID" /> @d.QuestionDesc
                                                                                }

                                                                    </label>
                                                                </div>

                                                            }

                                                        }

                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Current Annual Salary<span class="required" style="color:red;"> * </span></h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        @{
                                                            int vidAS = @item.ID;
                                                            var dataAS = _db.tblVacancyQuestions.Where(p => p.VacancyID == vidAS).Select(x => x.QuestionID).ToList();

                                                        }

                                                        @if (ViewBag.QuetionAnnualSalaryCat != null)
                                                        {
                                                            foreach (var d in ViewBag.QuetionAnnualSalaryCat)
                                                            {
                                                                <div class="checkbox">
                                                                    <label>
                                                                        @if (dataAS.Contains(@d.QuestionID))
                                                                        {
                                                                            <input type="checkbox"
                                                                                   name="VacancyQuestionID" checked
                                                                                   value="@d.QuestionID" /> @d.QuestionDesc
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox"
                                                                                       name="VacancyQuestionID"
                                                                                       value="@d.QuestionID" /> @d.QuestionDesc
                                                                                }

                                                                    </label>
                                                                </div>

                                                            }

                                                        }

                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="box box-warning">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Notice Period<span class="required" style="color:red;"> * </span></h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    @{
                                                        int vidNP = @item.ID;
                                                        var dataNP = _db.tblVacancyQuestions.Where(p => p.VacancyID == vidNP).Select(x => x.QuestionID).ToList();

                                                    }

                                                    @if (ViewBag.QuetionNoticePeriodCat != null)
                                                    {
                                                        foreach (var d in ViewBag.QuetionNoticePeriodCat)
                                                        {
                                                            <div class="checkbox">
                                                                <label>
                                                                    @if (dataNP.Contains(@d.QuestionID))
                                                                    {
                                                                        <input type="checkbox"
                                                                               name="VacancyQuestionID" checked
                                                                               value="@d.QuestionID" /> @d.QuestionDesc
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox"
                                                                                   name="VacancyQuestionID"
                                                                                   value="@d.QuestionID" /> @d.QuestionDesc
                                                                            }

                                                                </label>
                                                            </div>

                                                        }

                                                    }

                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div><br />
                                    <div class="col-md-12 pull-right">
                                        <input type="submit" onclick="checkBPS(event)" class="btn btn-success" value="Save" /> |
                                        <a href="@Url.Action("VacancyList", "Vacancy")" onclick="return confirm('Are you sure you want to cancel?')" type="button" class="btn btn-danger">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                &nbsp;
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/DropDownListValues.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var ClosingDate = document.getElementById("ClosingDate");

        $("#ClosingDate").datepicker({
            format: "yyyy-mm-dd",
            autoHide: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        }).datepicker('setDate', ClosingDate.value);

        document.getElementById("DivisionID").onchange();
        document.getElementById("DepartmentID").onchange();
        document.getElementById("EmploymentTypeID").onchange();
        document.getElementById("VancyTypeID").onchange();

        var JobLevelID = document.getElementById("JobLevelID");

        if (JobLevelID.value < 17) {
            $("#Leadership").hide();
        }
        else {
            $("#Leadership").show();
        }
    });

</script>


